html {
 font-size: 18px; 
}
.navbar {
  background-color: #333;
  font-family: Arial;
  height: clamp(5rem, 20vh, 10rem)
}
.navbar a {
  color: white;
  text-decoration: none;
  font-size: clamp(1rem, 15vw, 4rem)
}
