
html, body {
 font-size: 16px;
 margin: 0;
 padding: 0;
}
.navbar {
  background-color: #1e1e2f;
  font-family: Arial;
  height: clamp(3rem, 14vh, 4rem);
  width: 100%;
  display: flex;
}
.navbar a {
  position: static;
  color: white;
  text-decoration: none;
  font-size: clamp(0.75rem, 3vw, 1rem);
  transform: scaleY(1.1);
  padding: clamp(1rem,6vw,5rem);
}
