body {
 font-family:"Segoe UI";

}
.home-header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
}

.home-header a {
  text-decoration: none;
  font-size: 18px; 
}
